[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
openpyxl = "*"
beautifulsoup4 = "*"
certifi = "*"
click = "*"
configparser = "*"
enum34 = "*"
Flask = "*"
future = "*"
gunicorn = "*"
httplib2 = "*"
itsdangerous = "*"
Jinja2 = "*"
jsonschema = "*"
lxml = "*"
MarkupSafe = "*"
oauth2client = "*"
Pillow = "*"
pyasn1 = "*"
pyasn1-modules = "*"
requests = "*"
rsa = "*"
six = "*"
uritemplate = "*"
Werkzeug = "*"
wincertstore = "*"
tensorflow = "*"
keras = "*"

[requires]

python_version = "3.4"
